.inner {width: 92%; margin: 0 auto;}
section h2 {font-family: "Noto Serif KR", serif; font-size: 2rem; transition: 0.2s;}

html,body {position: relative; height: 100%; overflow-x: hidden;}
header {width: 100%; height: 34px; position: absolute; top: 0; z-index: 999;}
header h1 {width: 127px; height: 33px; margin-top: 1px;}
header h1>a {display: block; width: 127px; height: 33px; transition: 0.2s;}
header h1>a>img {width: 100%; transition: 0.2s;}
header .header_box {display: flex; justify-content: space-between; align-items: center; margin-top: 30px;}
header .header_box>button {width: 34px; height: 34px; display: block; background: url("../images/menu.svg") no-repeat center center; background-size: cover; z-index: 999; transition: 0.2s;}
header .header_box>.close {background-image: url("../images/close.svg"); display: none;}
header nav {position: relative; z-index: 999; color: #191919; display: none; transition: 0.2s;}
header nav>ul {display: flex; gap: 20px;}
header nav>ul>li {border-bottom: 1px solid #ddd; padding: 10px 0;}
header nav>ul>li>a {font-weight: bold; font-size: 1rem; display: block;}
header nav .sub {font-size: 0.85rem; margin-top: 1px; color: #474747; line-height: 1.5rem; display: none;}
header>.navbg {background: #fff; width: 100vw; height: 400px; position: absolute; z-index: 1; top: 0; left: 0; display: none;}
header>.blackbg {width: 100vw; height: 100vh; background: rgba(0,0,0,0.7); position: absolute; top: 0; display: none;}

#slide {width: 100%; height: 469px; position: relative; transition: 0.2s;}
#slide .text_box {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 285px; color: #fff; text-shadow: 0px 0px 7px rgba(0,0,0,0.7); letter-spacing: -1.5px;}
#slide .text_box>h3 {font-size: 1.5rem; line-height: 2.2rem; transition: 0.2s;}
#slide .text_box>h3::after {content: ""; display: block; margin: 16px 0px; width: 30px; height: 2px; background: #fff; box-shadow: 0px 0px 7px rgba(0,0,0,0.7); margin-left: 50%; transform: translateX(-50%); transition: 0.2s;}
#slide .text_box>p {font-size: 1rem; font-weight: 600; line-height: 1.5rem;}
.swiper {width: 100%; height: 100%; transition: 0.2s;}
.swiper-slide {text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center;}
.swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}
.swiper-pagination-bullet {width: 30px !important; height: 3px !important; border-radius: 0px !important;}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0px !important;}
.swiper-pagination>span {background: #fff;}
.swiper-button-next, .swiper-button-prev {color: #fff !important;}
.swiper-button-next:after, .swiper-button-prev:after {font-size: 30px !important;}
.swiper-pagination-bullet-active {background: #fff;}

#sect1 {width: 100%; padding: 60px 0px; text-align: center; color: #191919;}
#sect1 .title {letter-spacing: -1px;}
#sect1 .title .hide {display: none;}
#sect1 .title>h2 {position: relative; z-index: 2; margin-bottom: 20px; transition: 0.2s; color: #A8996E;}
#sect1 .title>h2::after {content: ""; display: block; width: 150px; height: 50%; background: #FFEFCC; position: absolute; left: 50%; bottom: -4px; transform: translateX(-50%); z-index: -1;}
#sect1 .title>p {font-size: 1rem; line-height: 1.5rem; transition: 0.2s;}
#sect1 .list {display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 15px; margin: 54px 0; transition: 0.2s;}
#sect1 .list>div {width: 47.3%; overflow: hidden; border-radius: 5px; position: relative;}
#sect1 .list>div>p {width: 100%; background: rgba(0,0,0,0.5); position: absolute; bottom: 0; height: 32px; color: #fff; font-size: 1rem; line-height: 30px;}
#sect1 .list img {width: 100%; aspect-ratio: 1/1; object-fit: cover;}
#sect1 .glass h2 {color: #6a85a0;}
#sect1 .glass h2::after {background: #DDEEFF; width: 115px;}
#sect1 .title .hide {transition: 0.2s;}

#sect2 {width: 100%; padding: 60px 0px; text-align: center; color: #191919; background: #F3F3F3; box-sizing: border-box;}
#sect2 h2 {margin-bottom: 52px; color: #1A4298;}
#sect2 .story_title {display: flex; justify-content: space-between; align-items: center; margin-bottom: 11px; margin-top: 47px;}
#sect2 .story_title>h3 {font-size: 1.5rem; color: #716F73;}
#sect2 .story_title>a {font-size: 1rem; margin-left: auto; display: flex; align-items: center; color: #716F73;}
#sect2 .story_title>a>span {font-size: 2rem; font-weight: 100; margin-left: 5px; display: block; margin-top: -5px;}
#sect2 .story_box {padding: 15px; background: #fff; display: flex; justify-content: center; align-items: center; border-radius: 0 20px 0 20px; box-shadow: 6px 6px 6px rgba(0,0,0,0.1); border: 1px solid #E6E6E6; box-sizing: border-box; overflow: hidden;}

/* slick */
#sect2 .story_box>div {width: 100%;}
#sect2 .story_box img {object-fit: cover; width: 100%; height: auto;}
#sect2 .story_box p {text-align: left; margin-top: 13px; font-size: 1rem; letter-spacing: -1px;}

/* iframe */
#sect2 .story_box>iframe {width: 100%;}
#sect2>.inner>p {font-size: 1rem; line-height: 1.5rem; letter-spacing: -1px; transition: 0.2s;}
#sect2>.inner>p:first-of-type {margin-top: 62px;}
#sect2>.inner>ul {margin-top: 34px; display: flex; gap: 18px; justify-content: center;}
#sect2>.inner>ul>li>a {width: 64px; height: 64px; display: block;}
#sect2>.inner>ul>li>a>img {width: 64px; height: 64px;}

#sect3 {width: 100%; padding: 60px 0px; text-align: center; color: #191919; letter-spacing: -1px;}
#sect3 h2 {position: relative; z-index: 2; margin-bottom: 20px;}
#sect3 h2::after {content: ""; display: block; width: 270px; height: 50%; background: #DAF9DD; position: absolute; left: 50%; bottom: -4px; transform: translateX(-50%); z-index: -1; transition: 0.2s;}
#sect3 p {font-size: 1rem; transition: 0.2s; color: #474747;}
#sect3 strong {font-size: 2rem; display: block; transition: 0.2s;}
#sect3 .number {margin-bottom: 24px; transition: 0.2s;}
#sect3 .time {font-size: 1.25rem; transition: 0.2s;}

footer {padding: 32px 0; height: auto; background: #474747;}
footer .ftop {display: flex; justify-content: space-between;}
footer .ftop>h2 {width: 122px; height: 100%; margin-top: 3px;}
footer .ftop>h2>a {width: 122px; height: auto; display: block; transition: 0.2s;}
footer .ftop>h2>a>img {width: 100%; opacity: 0.8;}
footer .ftop>.site {color: #fff; transition: all 0.3s;}
footer .ftop>.site>.siteTitle {font-size: 0.813rem; font-weight: normal; width: 170px; height: 39px; padding: 18px 14px; display: flex; justify-content: space-between; align-items: center; border: 1px solid #fff; box-sizing: border-box; cursor: pointer; position: relative; transition: 0.2s;}
footer .ftop>.site>.option {width: 170px; padding: 2px 14px; margin-top: -1px; box-sizing: border-box; border: 1px solid #fff; position: absolute; background: #474747; display: none;}
footer .ftop>.site>.option>ul>li>a {font-size: 0.813rem; font-weight: 300; display: block; line-height: 1.85rem; border-bottom: 1px solid #777;}
footer .ftop>.site>.option>ul>li:last-child>a {border-bottom: 0;}
footer .fmid {font-size: 0.813rem; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 11px;}
footer .fmid>.link1 {width: 100%; display: flex; color: #fff; margin-top: 24px; justify-content: space-around; gap: 5%;}
footer .fmid>.link1>li>a::after {content: ""; display: inline-block; width: 14px; height: 14px; margin-left: 5px; background: url("../images/akar-icons_link-out.png") no-repeat center center; background-size: contain; vertical-align: middle;}
footer .fmid>.link1>.hide {display: none;}
footer .fmid>.link2 {width: 90%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; color: #dbdbdb; margin-bottom: 26px; font-weight: 300;}
footer .fmid>.link2>li>a {display: block; margin: 0 10px;}
footer .fbottom {text-align: center; color: #dbdbdb; font-size: 0.813rem; line-height: 1.25rem; padding-top: 26px; border-top: 1px solid #dbdbdb; font-weight: 300;}

/* 반응형 */
@media screen and (max-width:1023px) and (min-width:641px) {
    section h2 {font-size: 2.5rem;}

    header h1 {width: 165px; height: auto;}
    header h1>a {width: 165px; height: auto;}
    header .header_box>button {width: 44px; height: 44px;}

    #slide {height: 576px;}
    #slide .text_box {width: 100%;}
    #slide .text_box>h3 {font-size: 2.25rem; line-height: 3.5rem;}
    #slide .text_box>p {font-size: 1.5rem; line-height: 2.2rem;}
    #slide .text_box>h3::after {content: ""; display: block; margin: 26px 0px; width: 50px; height: 2px; background: #fff; box-shadow: 0px 0px 7px rgba(0,0,0,0.7); margin-left: 50%; transform: translateX(-50%);}
    
    #sect1>.inner {display: flex; flex-direction: column;}
    #sect1>.inner>div {display: flex; justify-content: space-between; align-items: flex-start;}
    #sect1>.inner>.glass {flex-direction: row-reverse; margin-top: 54px;}
    #sect1>.inner>.glass>.title {background: #DDEEFF;}
    #sect1 .title {width: 40%; height: 100%; position: relative; padding: 35px 30px 15px 30px; box-sizing: border-box; text-align: left; margin: 54px 0; background: #FFEFCC; margin: 0; aspect-ratio: 1/1.425;}
    #sect1 .title .hide {display: flex; position: absolute; right: 30px; bottom: 15px;align-items: center;}
    #sect1 .title .hide>span {display: block; font-size: 2rem; font-weight: 200; margin-left: 5px; margin-top: -5px;}
    #sect1 .title>p {font-size: 1rem; line-height: 1.5rem;}
    #sect1 .list {width: 58%; margin: 0;}
    #sect1 .title>h2::after {content: ""; display: none;}

    #sect2 .story_box> .content {height: 350px;}
    #sect2 .story_box img {object-fit: cover; width: 100%; height: auto;}
    #sect2 .story_box p {text-align: left; margin-top: 13px; font-size: 1rem; letter-spacing: -1px;}
    #sect2>.inner>p {font-size: 1.25rem; line-height: 1.5rem; display: inline-block;}

    #sect3 h2::after {width: 340px;}
    #sect3 p {font-size: 1.25rem;}
    #sect3 strong {font-size: 3rem;}
    #sect3 .time {font-size: 2rem;}

    footer .ftop {width: 100%; height: 40px;}
    footer .ftop>h2 {width: 150px; height: auto;}
    footer .ftop>h2>a {width: 150px; height: auto;}
    footer .ftop>.site>.siteTitle {width: 280px;}
    footer .fmid {flex-direction: row; float: right; align-items: normal; padding-top: 28px; gap: 0; width: 40%;}
    footer .fmid>.link1 {flex-direction: column; margin-top: 0; margin-bottom: 0;}
    footer .fmid>.link1>.hide {display: block;}
    footer .fmid>.link2 {flex-direction: column; margin-top: 0; margin-bottom: 0;line-height: 24px;}
    footer .fmid>.link2>li>a {margin: 0;}
    footer .fbottom {text-align: left; border-top: none; width: 50%; line-height: 32px; width: 60%;}
}
@media screen and (min-width:1024px) {
    section h2 {font-size: 3rem;}

    header h1 {width: 185px; height: auto;}
    header h1>a {width: 185px; height: auto;}
    header .header_box>button {display: none;}
    header nav {display: block;}
    header nav>ul {gap: 15px;}
    header nav>ul>li {border-bottom: 0 none;}
    header nav>ul>li>a {color: #fff;}
    header nav>ul>li>a>span {background: #ddd; display: inline-block; width: 1px; height: 14px; margin-left: 15px;}
    header nav .sub {font-size: 0.85rem; margin-top: 1px; color: #474747; line-height: 1.5rem; display: none;}

    #slide {height: 85%;}
    #slide .text_box {width: 100%;}
    #slide .text_box>h3 {font-size: 2.7rem; line-height: 4rem;}
    #slide .text_box>p {font-size: 2rem; line-height: 2.7rem;}
    #slide .text_box>h3::after {content: ""; display: block; margin: 40px 0px; width: 60px; height: 3px; background: #fff; box-shadow: 0px 0px 7px rgba(0,0,0,0.7); margin-left: 50%; transform: translateX(-50%);}

    #sect1>.inner {display: flex; flex-direction: column;}
    #sect1>.inner>div {display: flex; justify-content: space-between; align-items: flex-start;}
    #sect1>.inner>.glass {flex-direction: row-reverse; margin-top: 54px;}
    #sect1>.inner>.glass>.title {background: #DDEEFF;}
    #sect1 .title {width: 40%; height: 100%; position: relative; padding: 35px 30px 15px 30px; box-sizing: border-box; text-align: left; margin: 54px 0; background: #FFEFCC; margin: 0; aspect-ratio: 1/1.425;}
    #sect1 .title .hide {display: flex; position: absolute; right: 30px; bottom: 15px;align-items: center; font-size: 1.15rem;}
    #sect1 .title .hide>span {display: block; font-size: 2.25rem; font-weight: 200; margin-left: 5px; margin-top: -5px;}
    #sect1 .title>p {font-size: 1.15rem; line-height: 2rem;}
    #sect1 .list {width: 58%; margin: 0;}
    #sect1 .title>h2::after {content: ""; display: none;}

    #sect2 .story_box> .content {height: 350px;}
    #sect2 .story_box img {object-fit: cover; width: 100%; height: auto;}
    #sect2 .story_box p {text-align: left; margin-top: 13px; font-size: 1rem; letter-spacing: -1px;}
    #sect2>.inner>p {font-size: 1.25rem; line-height: 1.5rem; display: inline-block;}

    #sect3 h2 {font-size: 2.5rem;}
    #sect3 h2::after {width: 340px;}
    #sect3 p {font-size: 1.25rem;}
    #sect3 strong {font-size: 3rem;}
    #sect3 .time {font-size: 2rem;}

    footer .ftop {width: 100%; height: 40px;}
    footer .ftop>h2 {width: 150px; height: auto;}
    footer .ftop>h2>a {width: 150px; height: auto;}
    footer .ftop>.site>.siteTitle {width: 280px;}
    footer .fmid {flex-direction: row; float: right; align-items: normal; padding-top: 28px; gap: 0; width: 40%;}
    footer .fmid>.link1 {flex-direction: column; margin-top: 0; margin-bottom: 0;}
    footer .fmid>.link1>.hide {display: block;}
    footer .fmid>.link2 {flex-direction: column; margin-top: 0; margin-bottom: 0;line-height: 24px;}
    footer .fmid>.link2>li>a {margin: 0;}
    footer .fbottom {text-align: left; border-top: none; width: 50%; line-height: 32px; width: 60%;}
}